
          h1{
            font-size: 65px;
            color: orange;
            font-family: sans-serif;
        }
        ul{
            background-color: rgb(107, 248, 194);
            text-align:justify;
            text-decoration:underline green;
        }
        .color-change{
            background-color: red;
        }
       
        p{
            font-weight: 600;
            font-size: 3em;
            text-align: right;
            text-decoration:overline underline;
        }
        body{
            font-size: 16px;
            font-style:italic;
            line-height: 30px;
            
        }
       
        #yellow{
            color:yellow;
        }
        #red{
            color:red;
        }
        #brown{
            color:brown;
        }
    